<ul class="ul-box">
  <li>
    <ul class="posts-box">
      <li class="li-box">
        <div class="inner-li-box">
          <div class="title_n_comments">
            <h4><%= @post.title %> by <%= @user.name %></h4>
            <p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
          </div>
          <p class="p_tags post_text"><%= @post.text %></p>
          <div>
            <%= form_with model: @like, url: user_post_likes_path(@user, @post) do |form|%>
                <%= form.submit 'Like post', class: 'button like-button' %>
            <% end %>
          </div>
          <% if (can? :destroy, Post) || current_user.id == @user.id %>
            <div>
              <%= button_to "Delete Post", user_post_path(@user, @post), method: :delete %>
            </div>
          <% end %>
        </div>
      </li>
      <li class="li-box comment-box">
        <div class="inner-li-box">
          <% if @post.comments.blank? %>
            <p class="each_comment post_show_comment">No comments available.</p>
          <% else %>
            <% @post.comments.each do |comment| %>
              <p class="each_comment post_show_comment">
                <strong><%= comment.author.name %>:</strong>
                <%= comment.text %>
              </p>
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </li>
  <li class="li-box">
    <a href="<%= url_for(new_user_post_comment_path(@user, @post)) %>" class="button button-wide">Add Comment</a>
  </li>
</ul>
